@model Aula_5.Models.Cliente

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Detalhe</title>
</head>
<body>
    <div> 
        @using (Html.BeginForm("SalvarCliente", "Cliente"))
        {
            <br />
            <p>Código :   @Html.TextBoxFor(x => x.ClienteId) </p>
            <p>Nome :     @Html.TextBoxFor(x => x.Nome) </p>
            <p>Email :    @Html.TextBoxFor(x => x.Email) </p>
            <p>Telefone : @Html.TextBoxFor(x => x.Telefone) </p>

            <input type="submit" value="Enviar" />
        }
    </div>
</body>
</html>
