
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h2>Clique no link abaixo para ver detalhes do Cliente</h2>
    <div> 
        @*Criando link com helper*@
        @Html.ActionLink("Exibir Detalhe", "Detalhe");
    </div>
</body>
</html>
