@model Aula_MVC_EF.Models.Cliente

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Detalhes</title>
</head>
<body>
    <div> 
        <br />
        <p>Código : @Html.TextBoxFor(x => x.ClienteId)</p>
        <p>Nome : @Html.TextBoxFor(x => x.Nome)</p>
        <p>Email: @Html.TextBoxFor(x => x.Email)</p>
        <p>Telefone : @Html.TextBoxFor(x => x.Telefone)</p>

        <input type="submit" value="Enviar" />
    </div>
</body>
</html>
