<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NaoEncontrado</title>
</head>
<body>
    <div>
        <h1>Nenhum Aluno encontrado!</h1>
        @Html.ActionLink("Voltar", "Index")
    </div>
</body>
</html>
