
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <p>Parabéns <b>@ViewData["Nome"]</b>, vc concluiu a <b>@ViewBag.Atividade</b> do curso <b>@ViewBag.Curso</b>
    </div>
</body>
</html>
